/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	compatible = "khadas,vim3\0amlogic,a311d";
	interrupt-parent = <0x01>;
	model = "Khadas Vim3";

	clock-controller@ff63c000 {
		compatible = "amlogic,g12b-clk";
		reg = <0x00 0xff63c000 0x00 0x2000 0x00 0xff620000 0x00 0x10000 0x00 0xffd18000 0x00 0x1000>;
	};

	iommu {
		#iommu-cells = <0x01>;
		phandle = <0x02>;
	};

	reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		fuchsia,contiguous {
			compatible = "sysmem";
			iommus = <0x02 0x01>;
			pid = <0x06>;
			size = <0x00 0xc800000>;
			vid = <0x05>;
		};
	};

	soc {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		bus@ff800000 {
			#address-cells = <0x02>;
			#size-cells = <0x02>;
			ranges = <0x00 0x00 0x00 0xff800000 0x00 0x100000>;
			reg = <0x00 0xff800000 0x00 0x100000>;

			i2c@5000 {
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				compatible = "amlogic,meson-axg-i2c";
				interrupts = <0x00 0xc3 0x01>;
				reg = <0x00 0x5000 0x00 0x20>;
			};
		};

		bus@ffd00000 {
			#address-cells = <0x02>;
			#size-cells = <0x02>;
			ranges = <0x00 0x00 0x00 0xffd00000 0x00 0x100000>;
			reg = <0x00 0xffd00000 0x00 0x100000>;

			i2c@1c000 {
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				compatible = "amlogic,meson-axg-i2c";
				interrupts = <0x00 0x27 0x01>;
				reg = <0x00 0x1c000 0x00 0x20>;
			};

			register-controller@1000 {
				#register-cells = <0x04>;
				compatible = "fuchsia,registers";
				reg = <0x00 0x1000 0x00 0x100>;
			};
		};

		interrupt-controller@ffc01000 {
			#address-cells = <0x00>;
			#interrupt-cells = <0x03>;
			compatible = "arm,gic-400";
			interrupt-controller;
			interrupts = <0x01 0x09 0xff04>;
			phandle = <0x01>;
			reg = <0x00 0xffc01000 0x00 0x1000 0x00 0xffc02000 0x00 0x2000 0x00 0xffc04000 0x00 0x2000 0x00 0xffc06000 0x00 0x2000>;
		};
	};
};
