{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}
{{- define "GenerateCAlias" -}}
{{ range .Comments }}
//{{ . }}
{{- end }}
{{- $name := TypeName . }}
{{- $info := DescribeType .Value }}
typedef {{ $info.Type }} {{ Append $name $info.ArraySuffix }};
{{ end }}
