/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	compatible = "fuchsia,sample-dt";

	parent-device {
		compatible = "fuchsia,parent";

		child1 {
			compatible = "fuchsia,child";
		};

		child2 {
			compatible = "fuchsia,child";
		};
	};

	property2-child {
		compatible = "fuchsia,property2-child";
		property2 = <0x01>;
	};

	reference-parent {
		#property1-cells = <0x01>;
		#property2-cells = <0x00>;
		compatible = "fuchsia,reference-parent";
		phandle = <0x01>;
	};

	sample-device@0 {
		compatible = "fuchsia,sample-device";
		device_specific_prop = <0x03>;
		reg = <0x00 0xaaaaaaaa 0x00 0x2000>;
	};

	sample-property1-child {
		compatible = "fuchsia,property1-child";
		property1 = <0x01 0x04>;
	};
};
