import("//build/sdk/sdk_atom.gni")

# True if the current GN toolchain instance can be used to create
# Rust sdk_atom() targets.
_generating_sdk = false

# The SDK prefix for the current toolchain.
if (current_toolchain == default_toolchain) {{
  _generating_sdk = true
  _sdk_prefix = ""
}} else if (is_host) {{
  _generating_sdk = true
  _sdk_prefix = "rust_proc_macros/"
}}
