{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}
{{- define "Generate-syscalls_fuchsia_arm64.s" -}}
{{ template "Generate-syscalls_fuchsia_amd64.s" . }}
{{ end }}
