# Reference at
#   https://packaging.python.org/en/latest/specifications/declaring-project-metadata/
#   https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html

[build-system]
requires = [
    "setuptools",
    "setuptools-scm",
]
build-backend = "setuptools.build_meta"

[project]
name = "honeydew"
description = "Python module for Host-(Fuchsia)Target interactions"
requires-python = ">=3.8"
dynamic = ["version"]
readme = "README.md"
keywords = ["honeydew", "lacewing", "pye2e", "e2e", "python", "controller"]

dependencies = []

[project.optional-dependencies]
# Testing related dependencies
test = [
    "parameterized==0.7.4",   # for unit tests
    "mobly==1.12.1",          # for functional tests
]
# Coding guidelines related dependencies
guidelines = [
    "coverage==7.2.7",        # for measuring code coverage using unit tests
    "pylint==2.17.4",         # for code linting
    "isort==5.12.0",          # for sorting imports
    "autoflake==2.1.1",       # for removeing unused imports and unused variables
    "mypy==1.3.0",            # for type checking
]

[tool.setuptools.packages.find]
where = ["."] # list of folders that contain the packages (["."] by default)
include = ["honeydew*"]  # package names should match these glob patterns (["*"] by default)

[tool.isort]
# Reference at https://pycqa.github.io/isort/docs/configuration/config_files.html
profile = "black"
line_length = 80

[tool.mypy]
# Reference at https://mypy.readthedocs.io/en/stable/config_file.html#example-pyproject-toml
# Needed because dependency modules such as mobly are not pip installed and also FIDL .py files are not available
ignore_missing_imports = true
strict = true
warn_return_any = false  # TODO(b/322207610)

[[tool.mypy.overrides]]
module = "tests.functional_tests.*"
# To handle `error: Class cannot subclass "FuchsiaBaseTest" (has type "Any")  [misc]`
# More info @ https://github.com/python/mypy/issues/9318
disallow_subclassing_any = false

[[tool.mypy.overrides]]
module = "tests.unit_tests.*"
# TODO(b/322232685) - unit tests are not mypy compatible with `stric=true`.
# Unable to override `strict` config in per-module config. More info @ https://github.com/python/mypy/issues/11401.
# As a result, disable specific config options for unit tests that were enabled by `strict=true` until unit test code addresses these warnings.
allow_untyped_defs = true
allow_untyped_decorators = true
allow_incomplete_defs = true
disable_error_code = ["attr-defined"]

# Honeydew uses `fx format-code` to format the code.
# `fx format-code` uses `black` underneath to format the python code, using the
# configuration specified in $FUCHSIA_DIR/pyproject.toml.
# So just run the below command to format the code inside this folder:
# `fx format-code "--files=${FUCHSIA_DIR}/src/testing/end_to_end/honeydew/*" --all`
