{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}
{{- define "GenerateRustStruct" -}}

{{ range .Comments }}
///{{ . }}
{{- end }}
{{- range StructAttributes . }}
{{ . }}
{{- end }}
pub struct {{ UpperCamelCase . }} {
{{ range .Members }}
{{- if .Comments }}
{{ range .Comments }}
    ///{{ . }}
{{- end }}
{{- end }}
    pub {{ LowerCaseWithUnderscores . }}: {{ DescribeType .Type }},
{{- end }}
}

{{ end }}
