{{#> chrome title="Gumshoe (On-Device Diagnostics) : Device Info"}}

<h1>Device Info</h1>

<h2>Board</h2>
<ul>
{{#with board_info}}
<li> CPU_ARCHITECTURE: {{cpu_architecture}}</li>
<li> NAME: {{name}}</li>
<li> REVISION: {{revision}}</li>
{{/with}}
</ul>

<h2>Device</h2>
<ul>
{{#with device_info}}
<li> RETAIL_SKU: {{retail_sku}}</li>
<li> SERIAL_NUMBER: {{serial_number}}</li>
{{/with}}
</ul>

<h2>Product</h2>
<ul>
{{#each product_info}}
    <li>{{@key}}: {{#if this}}"{{this}}"{{else}}UNDEFINED{{/if}}</li>
{{/each}}
</ul>

<h2>Storage Devices</h2>
{{#if storage_info.devices}}
<table>
  <thead>
    <tr>
      <th>Logical Path</th>
      <th>Block Size</th>
      <th>Block Count</th>
      <th>Capacity</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each storage_info.devices}}
    <tr>
      <td>{{this.logical_path}}</td>
      <td>{{#if this.block_size}}{{this.block_size}}{{else}}UNDEFINED{{/if}}</td>
      <td>{{#if this.block_count}}{{this.block_count}}{{else}}UNDEFINED{{/if}}</td>
      <td>{{#if this.capacity}}{{this.capacity}}{{else}}UNDEFINED{{/if}}</td>
      <td>{{#if this.name}}"{{this.name}}"{{else}}UNDEFINED{{/if}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
<p>UNAVAILABLE</p>
{{/if}}

{{/chrome}}
