{{#> chrome title="Gumshoe (On-Device Diagnostics) : Device Info"}}

<h1>Device Info</h1>

<h2>Board</h2>
<ul>
{{#with board_info}}
<li> CPU_ARCHITECTURE: {{cpu_architecture}}</li>
<li> NAME: {{name}}</li>
<li> REVISION: {{revision}}</li>
{{/with}}
</ul>

<h2>Device</h2>
<ul>
{{#with device_info}}
<li> RETAIL_SKU: {{retail_sku}}</li>
<li> SERIAL_NUMBER: {{serial_number}}</li>
{{/with}}
</ul>

<h2>Product</h2>
<ul>
{{#each product_info}}
    <li>{{@key}}: {{#if this}}"{{this}}"{{else}}UNDEFINED{{/if}}</li>
{{/each}}
</ul>

{{/chrome}}
